.wizard-layout {
    height: 100vh;
    display: grid;
    grid-template-rows: 9vh 1fr;
    align-items: start;
    justify-items: center;
    overflow: hidden;
    direction: rtl;
}

.wizard-layout.wizard-layout--with-keyboard {
    grid-template-rows: 9vh 60vh 20vh;
    align-items: center;
    padding-bottom: 0;
}

.wizard-layout.wizard-layout--no-header {
    grid-template-rows: 1fr;
    align-items: center;
}