.confirm-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    direction: rtl;
}

.confirm-modal .glass-card {
    width: 48vw;
    height: auto;
    padding: 2rem;
    text-align: center;
}

.confirm-modal .confirm-modal-buttons {
    margin-top: auto;
    padding-top: 1.5rem;
}