.wizard-bottom-zone {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    padding: 0 3rem 0;
}

.phase {
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.85rem;
    white-space: nowrap;
}

.step-indicator {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-bottom: 3rem;
    padding-top: 2vh;
    padding-bottom: 2vh;

}

.step-dot {
    width: 4vh;
    height: 4vh;
    min-width: 4vh;
    min-height: 4vh;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 700;
    transition: var(--t-base);
    position: relative;
    z-index: 1;
    outline: 1px solid #000;
}

.step-dot.done {
    background: var(--grad-primary);
    color: #fff;
    box-shadow: 0 0 1.17vh rgba(20, 184, 166, .5);
}

.step-dot.active {
    background: var(--grad-primary);
    color: #fff;
    box-shadow: 0 0 1.83vh rgba(20, 184, 166, .7);
    transform: scale(1.12);
}

.step-dot.pending {
    background: linear-gradient(135deg, #09a2b0, #055c64);
    color: var(--text-primary);
    border: 1px solid rgba(255, 255, 255, .07);
}

.step-connector {
    width: 5vh;
    height: 0.25vh;
    background: #055c64;
    position: relative;
    overflow: hidden;
}

.step-connector.done::after {
    content: '';
    position: absolute;
    inset: 0;
    background: var(--grad-primary);
}

.wizard-children-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}