*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
}

body {
    font-family: var(--font);
    background: linear-gradient(to top, #FF924D, #9AD3DA);
    color: var(--text-primary);
}

::-webkit-scrollbar {
    width: 0.42vh;
}

::-webkit-scrollbar-track {
    background: var(--bg-secondary);
}

::-webkit-scrollbar-thumb {
    background: rgba(20, 184, 166, .45);
    border-radius: 0.25vh;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--accent);
}